appdirs==1.4.4
boost==0.1
boost-py==0.0.2
click==7.1.2
cmake==3.18.0
distlib==0.3.1
dlib==19.21.0
filelock==3.0.12
Flask==1.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mrjob==0.7.3
numpy==1.19.1
opencv-python-headless==4.2.0.32
python-dotenv==0.14.0
PyYAML==5.3.1
six==1.15.0
virtualenv==20.0.27
Werkzeug==1.0.1
requests==2.21.0
tensorflow==1.14.0
Keras==2.3.1
pandas==1.1.0
scikit-learn==0.23.2