<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>License plate lookup</title>
</head>

<body>
    <img src={{img_url}} alt="License Plate" width="500" height="333">
    <p>License Plate Number: {{num}}</p>
    <p>State: {{state}}</p>
    <p>VIN: {{vin}}</p>
    <p>Make: {{make}}</p>
    <p>Model: {{model}}</p>
    <p>Year: {{year}}</p>
    <p>Avg Price: ${{price}}</p>
</body>

</html>